/* Add your styles here! */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.css-1ljz3d3 {
    width: 60%;
}


/* "home.html" styles */

.home_title,
.home_nav {
    font-family: 'Verdana', sans-serif;
    text-align: center;
}

.t1 {
    font-size: 26px;
}

.t2 {
    font-size: 18px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

.container {
    width: 75%;
}